<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--连接数据库信息配置-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dlxm?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <!--配置hibernate其他配置-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property><!--方言还是从hibernate核心包中找-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property><!--create：每次都创建；none：不操作；update：有就不操作，没有就创建-->
        <!--加载映射文件-->
        <mapping resource="com/maben/dlxm/domain/ElecText.hbm.xml"/>
        <mapping resource="com/maben/dlxm/domain/ElecCommonMsg.hbm.xml"/>
        <mapping resource="com/maben/dlxm/domain/ElecExportFields.hbm.xml"/>
        <mapping resource="com/maben/dlxm/domain/ElecSystemDDL.hbm.xml"/>
    </session-factory>
</hibernate-configuration>